@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
      font-family: 'Sage';
      src: url('/fonts/sage-webfont.woff2') format('woff2'),
          url('/fonts/sage-webfont.woff') format('woff'),
          url('/fonts/sage-webfont.ttf') format('truetype'),
          url('/fonts/sage-webfont.svg#sageregular') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
  }

  :root {
    --aws-font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    --aws-bg-color: #00377a;
    --brand-bg-color: #0484428e;
  }

  ::selection {
    @apply bg-gray-800/80;
    color: #fff;
  }

  html,
  body {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .pattern-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

    transition: background-color 0.2s ease-in-out;
  }

  .pattern-bg.aws-bg {
    background-color: var(--aws-bg-color);
  }

  .pattern-bg.brand-bg {
    background-color: var(--brand-bg-color);
  }

}

@layer utilities {
  .gate-open-top,
  .gate-open-bottom,
  .gate-open-left,
  .gate-open-right {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.05, 0.77);
    will-change: transform;
    contain: strict;
    content-visibility: auto;
    /* animation-iteration-count: infinite; */
  }
  
  .gate-open-top {
    animation-name: gate-open-top;
    z-index: 20;
    transform: translateY(50%);
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gate-open-bottom {
    animation-name: gate-open-bottom;
    z-index: 20;
    transform: translateY(50%);
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gate-open-left {
    animation-name: gate-open-left;
    z-index: 20;
    transform: translateX(50%);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .gate-open-right {
    animation-name: gate-open-right;
    z-index: 20;
    transform: translateX(50%);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  @keyframes gate-open-top {
    0% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-93%);
    }
  }

  @keyframes gate-open-bottom {
    0% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(193%);
    }
  }

  @keyframes gate-open-left {
    0% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(-93%);
    }
  }

  @keyframes gate-open-right {
    0% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(193%);
    }
  }

  .border-entry-top,
  .border-entry-bottom,
  .border-entry-left,
  .border-entry-right {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 250ms;
    will-change: transform, filter;
    contain: strict;
    content-visibility: auto;
    /* animation-iteration-count: infinite; */
  }
  
  .border-entry-top {
    animation-name: border-entry-top;
    width: 1px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .border-entry-bottom {
    animation-name: border-entry-bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 5px;
  }

  .border-entry-left {
    animation-name: border-entry-left;
    width: 5px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .border-entry-right {
    animation-name: border-entry-right;
    width: 5px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @keyframes border-entry-top {
    0% {
      width: 1px;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes border-entry-bottom {
    0% {
      width: 1px;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes border-entry-left {
    0% {
      height: 1px;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes border-entry-right {
    0% {
      height: 1px;
    }

    100% {
      height: 100%;
    }
  }
}